/* media query */
@media (max-width: 1765px){
   #sec1 {
    height: 89vh;
    display: flex;
    justify-content: center;
    /* border: 2px solid yellowgreen; */
    padding-left: 60px;
    flex-direction: column;
    color: white;
    /* position: relative; */
    padding-bottom: 0px;
    margin-bottom: 200px;
    font-family: "Ubuntu", sans-serif;
   }
}
@media (max-width: 1366px){
   #sec1 {
    height: 89vh;
    display: flex;
    justify-content: center;
    /* border: 2px solid yellowgreen; */
    padding-left: 60px;
    flex-direction: column;
    color: white;
    /* position: relative; */
    padding-bottom: 0px;
    margin-bottom: 80px;
    font-family: "Ubuntu", sans-serif;
  }
}
@media (max-width: 982px) {
  .main3 {
    flex-wrap: wrap;
  }
  .bx10 {
    width: 35%;
  }
  .bx10-main {
    margin-top: 50px;
  }
  .sec5 {
    background-color: black;
    height: 950px;
    margin-bottom: 0px;
  }
  .sec3 {
    height: 750px;
  }
  .main {
    flex-wrap: wrap;
  }
  .bx6 {
    width: 35%;
  }
  .appd {
    margin-top: 50px;
  }
  .sec4 {
    height: 800px;
  }
  .main2 {
    flex-wrap: wrap;
  }
  .bx8 {
    width: 90%;
  }
  .bx9 {
    width: 90%;
  }
  /* .sec6{

    } */
  .main4 {
    flex-wrap: wrap;
  }
  .bx11 {
    width: 90%;
    height: 330px;
    background: url(m1.jpg) no-repeat center center/cover;
    background-attachment: fixed;
  }
  .bx12 {
    width: 90%;
    margin-top: 22px;
  }
  form input {
    width: 100%;
  }
  #textar {
    width: 100%;
  }
  footer {
    margin-top: 400px;
  }
  #sec2 {
    flex-wrap: wrap;
  }
  .bx4 {
    height: 288px;
    width: 430px;
    /* border: 2px solid red;        */
  }
  .bx4 img {
    width: 100%;
    border-radius: 5px;
  }
  .bx5 {
    margin-top: 60px;
    width: 90%;
  }
  .bx5 p {
    text-align: justify;
  }
  .box2 i {
    display: block;
    text-align: right;
    margin-top: -51px;
    padding-top: 3px;
  }
  #sec1 {
    height: 89vh;
  }
  .navbar{
    height: auto;
    display: block;    
  }
  /* #sec1::before {    
    height: 135vh;
  } */
  .box1 h1 {   
    padding-top: 4px;
  }
  .navbar ul li {
    text-align: left;    
    margin-left: -20px;
  }
  .navbar ul{    
    display: none;   
  }
  .bx11{
    height: auto;
    background: none;
  }
}
@media (max-width: 825px) {
  .sec3 {
    height: 960px;
  }
  .main {
    flex-wrap: wrap;
  }
  .bx6 {
    width: 90%;
  }
  .appd {
    margin-top: 20px;
  }
  .appd1 {
    margin-top: 20px;
  }  
 
 
}
@media (max-width: 827px){
  .sec2-head h1{
    margin-top: 70px;    
  }
   #sec1::before {
    content: "";
    position: absolute;
    height: 70vh;
    width: 100%;
    top: 0px;
    left: 0px;
    background: url(2.jpg) no-repeat center center/cover;
    /* background-color: rgba(0,0,0,0.5);
      background-blend-mode: overlay; */
    background-attachment: fixed;
    /* border: 2px solid purple; */
    z-index: -1;
  }
  #sec1 {
    height: 70vh;
    display: flex;
    justify-content: center;
    /* border: 2px solid yellowgreen; */
    padding-left: 60px;
    flex-direction: column;
    color: white;
    /* position: relative; */
    padding-bottom: 0px;
    font-family: "Ubuntu", sans-serif;
  }
}
@media (max-width: 768px){
  .sec2-head h1{
    margin-top: 70px;    
  }
   #sec1::before {
    content: "";
    position: absolute;
    height: 90vh;
    width: 100%;
    top: 0px;
    left: 0px;
    background: url(2.jpg) no-repeat center center/cover;
    /* background-color: rgba(0,0,0,0.5);
      background-blend-mode: overlay; */
    background-attachment: fixed;
    /* border: 2px solid purple; */
    z-index: -1;
  }
  #sec1 {
    height: 70vh;
    display: flex;
    justify-content: center;
    /* border: 2px solid yellowgreen; */
    padding-left: 60px;
    flex-direction: column;
    color: white;
    /* position: relative; */
    padding-bottom: 0px;
    margin-bottom: 80px;
    font-family: "Ubuntu", sans-serif;
  }
}
@media (max-width: 727px) {
  .sec5 {
    height: 1280px;
  }

  .bx10 {
    width: 90%;
  }
  .bx10-main {
    margin-top: 20px;
  }
  .bx10-main1 {
    margin-top: 20px;
  }
  .sec4{
    height: auto;
  }
  
  .navbar{
    padding: 0px 37px;
  }
  #sec1{
    padding: 0px 37px;
    padding-bottom: 0;
    margin-bottom: 30px;
  }
  #sec1 .bx1 {
    font-size: 20px;
    /* font-weight: bold; */
  }
  
  #sec1 .bx2 {
    font-size: 60px;
    /* font-weight: bold; */
    margin: 5px 0px;
  }
  
  #sec1 .bx3 {
    font-size: 30px;
    font-weight: bold;
    /* font-weight: bold; */
  }
  /* .box1 h1 {    
    font-size: 25px;    
  } */
  .btn-res{
    width: 70px;
    height: 35px;
  }
}
@media (max-width: 499px){
  /* .sec6{
    height: 700px;
  } */
  #sec1 .bx1 {
    font-size: 15px;
    /* font-weight: bold; */
  }
  
  #sec1 .bx2 {
    font-size: 50px;
    /* font-weight: bold; */
    margin: 5px 0px;
  }
  
  #sec1 .bx3 {
    font-size: 25px;
    font-weight: bold;
    /* font-weight: bold; */
  }
  .bx11{
    height: auto;
    background: none;
  }
  .bx11 p{
    text-align: justify;
  }
  .bx4 {
    width: 90%;
    display: flex;
    justify-content: center;
  }
  .bx4 img{
    width: 400px;
  }
  footer{
    font-size: 12px;
  }
   .bx5 h2{
    font-size: 20px;
  }
}
@media (max-width: 399px){
  #sec1 .bx1 {
    font-size: 15px;
    /* font-weight: bold; */
  }
  
  #sec1 .bx2 {
    font-size: 40px;
    /* font-weight: bold; */
    margin: 5px 0px;
  }
  
  #sec1 .bx3 {
    font-size: 20px;
    font-weight: bold;
    /* font-weight: bold; */
  }  
  #sec2{
    justify-content: center;    
  }
  .bx4 {
    width: 90%;
  }
  .bx4 img{
    width: 300px;
  }
  footer{
    font-size: 10px;
  }
}
@media (max-width: 301px){
  .bx4 img{
    width: 270px;
  }
  
}
@media (max-width: 291px){
  footer{
    font-size: 8px;
  }
}
